.card {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.card-title {
  display: flex;
  align-items: center;
}
.card-title > div {
  line-height: 2px;
  font-size: 12px;
  margin-left: 12px;
}
.card-title > img {
  border-radius: 50%;
  object-fit: contain;
  width: 30px;
}
.card-text > h1 {
  font-size: 16px;
}
.card-text > p {
  font-size: 12px;
  color: hsl(210, 46%, 95%);
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
